@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply outline-indigo-500 dark:outline-none font-normal;
  }
}

@layer components {
  /* CARDS */
  .card-all {
    @apply card card-shadow card-ring card-hover;
  }
  .card {
    @apply rounded-xl p-4 bg-white flex dark:bg-[#343C52];
  }
  .card-shadow {
    @apply shadow-lg shadow-slate-100   dark:shadow-layer-50;
  }
  .card-ring {
    @apply ring-1 ring-slate-100 hover:ring-slate-200 dark:ring-layer-50 dark:hover:ring-2 dark:hover:ring-layer-sec;
  }
  .card-hover {
    @apply hover:-translate-y-[.2rem] hover:shadow-lg transition;
  }

  /* BUTTON */
  .btn {
    @apply min-w-[90px];
  }
  .btn-prime {
    @apply btn rounded-xl text-[.9rem] bg-[#867bcc] hover:bg-[#7368ba] hover:ring-2 hover:ring-[#d0caff] text-white dark:bg-[#6954a9] dark:text-slate-200 dark:hover:ring-[#a79cf9];
  }
  .btn-sec {
    @apply btn rounded-xl text-[.9rem] font-medium bg-transparent text-[#786cc1] border-2 border-[#867bcc]  hover:border-[#9a8dea]  dark:border-[#8e83d4] dark:text-[#aea5ea] py-1;
  }
  .btn-warm {
    @apply btn text-white bg-pink-400 hover:bg-pink-500 hover:ring-2 hover:ring-pink-200 dark:bg-pink-500 dark:hover:bg-pink-600 dark:hover:ring-pink-300;
  }

  /* TEXT */
  .text-prime {
    @apply text-primary-light dark:text-[#bbc5e3];
  }
  .text-sec {
    @apply text-slate-600 dark:text-[#a8b8d5];
  }
  .text-accent {
    @apply text-[#5D7EA4] dark:text-[#9CB0E3];
  }
  .text-phar {
    @apply text-slate-500 dark:text-slate-400;
  }
  .text-value {
    @apply text-[#4e929b] dark:text-[#b9b7ff];
  }
  .text-warm {
    @apply text-pink-500 dark:text-pink-400;
  }

  /* BACKGROUNDS */
  .bg-sec {
    @apply bg-[#e3e6f0] dark:bg-[#4A577E];
  }
  .bg-layer-1 {
    @apply bg-white dark:bg-[#394463];
  }

  /* RINGS */
  .ring-prime {
    @apply ring-1 dark:ring-0 dark:hover:ring-2 ring-slate-200  dark:ring-[#7f95d2];
  }

  .flex_ {
    @apply flex  gap-3 items-center;
  }
  .col_ {
    @apply flex flex-col gap-3;
  }

  .container_ {
    @apply w-full mx-auto max-w-5xl p-2 flex-1 flex;
  }
  .title_ {
    @apply text-slate-600;
  }
  .subtitle_ {
    @apply text-slate-500;
  }
  .transition_ {
    @apply transition ease-in-out duration-200;
  }
  .ring_ {
    @apply ring-1 ring-slate-200 dark:ring-slate-500;
  }
  .pop_ {
    @apply -translate-y-[2px];
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* letter-spacing: 0.9px; */
}

a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

input,
button,
select,
textarea {
  padding: 7px 10px;
  border-radius: 10px;
  transition: all 0.2s;
  display: flex;
  margin: 5px 0px;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

button {
  padding: 5px 20px;
  border-radius: 15px;
  transition: 0.1s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  min-width: 50px;
}

button:hover {
  transform: scale(1.03);
}

h1 {
  font-size: x-large;
}
h2 {
  font-size: larger;
}
h3 {
  font-size: large;
}

.popy {
  /* background-color: pink; */
  /* transition: all 1s; */
  animation: popy 0.1s ease-in-out;
}

@keyframes popy {
  0% {
    background-color: transparent;
  }
  50% {
    scale: 1.1;
    background-color: rgb(173, 179, 242);
  }
  75% {
    scale: 1.1;
    background-color: rgb(155, 161, 230);
  }
  100% {
    background-color: transparent;
  }
}

/*  */

.box {
  --v: calc(((18 / 5) * var(--p) - 90) * 1deg);
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(#ffffff, #ffffff) content-box,
    linear-gradient(var(--v), #ffffff 50%, transparent 0) 0 /
      min(100%, (50 - var(--p)) * 100%),
    linear-gradient(var(--v), transparent 50%, var(--bar-l) 0) 0 /
      min(100%, (var(--p) - 50) * 100%),
    linear-gradient(to right, #ffffff 50%, var(--bar-l) 0);
}

.dark .box {
  background: linear-gradient(#0e0e0efe, #0e0e0efe) content-box,
    linear-gradient(var(--v), #62697b 50%, transparent 0) 0 /
      min(100%, (50 - var(--p)) * 100%),
    linear-gradient(var(--v), transparent 50%, var(--bar-d) 0) 0 /
      min(100%, (var(--p) - 50) * 100%),
    linear-gradient(to right, #62697b 50%, var(--bar-d) 0);
}

/* rgb(52, 225, 225) */

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a7abb5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a848f;
  width: 16px;
}

.pop-out {
  animation: pop-out 0.2s normal forwards ease-in;
}

@keyframes pop-out {
  0% {
    opacity: 100%;
    /* scale: 1; */
    transform: scale(1, 1);
  }
  30% {
    opacity: 100%;
    transform: scale(1, 1.3);
    /* scale: 1.03; */
  }
  100% {
    visibility: hidden;
    opacity: 0%;
    transform: scale(0.5, 0.2);

    /* scale: 0.5; */
  }
}

.collapse-open {
  animation: col-open 0.2s normal forwards ease-out;
}
.collapse-close {
  animation: col-close 0.2s normal forwards ease-out;
  overflow: hidden;
  transform-origin: 0 0;
}

@keyframes col-open {
  0% {
    max-height: 0;
  }
  100% {
    max-height: var(--h);
  }
}
@keyframes col-close {
  0% {
    /* transform: scale(1, 1); */
    /* scale: 1; */
    height: 50px;
  }
  70% {
    /* scale: 1.1; */
    height: 30px;
  }
  100% {
    /* scale: 0.5; */
    height: 0px;
  }
}

.bgg {
  transform: skew(var(--skew));
  position: absolute;
  width: 200%;
  height: 400%;
  rotate: var(--rot);
  /* rotate: -13deg; */
  /* bottom: 0px; */
  /* left: 100px; */
  border-bottom-left-radius: 80px;
  /* box-shadow: 1px 1px 15px rgba(110, 134, 196, 0.27); */

  transform-origin: bottom left;
}

/* .element-pop {
  background-color: red;
  color: blue;
  fill: green;
} */
